.signIn {
    background-color: #fdfdfd;
    border-radius: 15px;
    border: 1px solid #dadce0;
    font-family: poppins;
}
img {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 100px;
}
.acc{
    font-weight: 900;
}
