.signIn {
    background-color: #fdfdfd;
    border-radius: 15px;
    border: 1px solid #dadce0;
    font-family: poppins;
}
.signinimg {
    margin: auto;
    margin-bottom: 30px;
    width: 100px;
}
.account{
    font-weight: bolder;
}
.signInForm{
    font-size: larger;
}
