.contents {
    text-decoration: none;
    color: rgb(41, 39, 39);
    margin-left: -12px;
    width:fit-content;
    margin-top: -4.5px;
} 
.ActiveLink{
    text-decoration: none;
    color: #1d9bf0;
   font-size:x-large;
   padding: 15px; 
}

span {
    font-size:16px;
    font-weight:lighter;
    font-family: poppins;
}
.navimg{
    width: 60px;
    margin:21px 0px 30px 12px;
}
 .contents:hover {
    background-color: #e9ecef;
    color: #1d9bf0;
}
.navs {
    width: 270px;
    height: 100vh;
    border-right: #e9ecef solid 1px;   
}