.signup {
    background-color: #fdfdfd;
    border-radius: 15px;
    border: 1px solid #dadce0;
    font-family: poppins;
}
.signupimg {
    width: 100px;
    margin: auto;
    margin-bottom: 30px;
}
.createAcc{
    font-weight:bolder ;
}
.signUpForm{
    font-size: larger;
}